
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
CrazyRecycling/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/cs/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/cs/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/de/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/de/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/es/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/es/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/fr/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/fr/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/it/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/it/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ja/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ja/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ko/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ko/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/pl/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/pl/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/pt/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/pt/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ru/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ru/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/tr/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/tr/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/_common/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/netcoreapp1.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CrazyRecycling/packages/MSTest.TestAdapter.1.3.2/build/uap10.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CrazyRecycling/packages/MSTest.TestFramework.1.3.2/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CrazyRecycling/packages/MSTest.TestFramework.1.3.2/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
CrazyRecycling/packages/MSTest.TestFramework.1.3.2/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CrazyRecycling/packages/MSTest.TestFramework.1.3.2/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
CrazyRecycling/packages/MSTest.TestFramework.1.3.2/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CrazyRecycling/packages/MSTest.TestFramework.1.3.2/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
UnitTestProject/bin/Debug/CrazyRecycling.exe
UnitTestProject/bin/Debug/CrazyRecycling.pdb
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
UnitTestProject/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
UnitTestProject/bin/Debug/Newtonsoft.Json.dll
UnitTestProject/bin/Debug/UnitTestProject.dll
UnitTestProject/bin/Debug/UnitTestProject.pdb
UnitTestProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTestProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTestProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTestProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTestProject/obj/Debug/UnitTestProject.csproj.CopyComplete
UnitTestProject/obj/Debug/UnitTestProject.csproj.CoreCompileInputs.cache
UnitTestProject/obj/Debug/UnitTestProject.csproj.FileListAbsolute.txt
UnitTestProject/obj/Debug/UnitTestProject.csprojAssemblyReference.cache
UnitTestProject/obj/Debug/UnitTestProject.dll
UnitTestProject/obj/Debug/UnitTestProject.pdb
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/DesignTimeBuild/.dtbcache
CrazyRecycling/.vs/CrazyRecycling/v15/.suo
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-shm
CrazyRecycling/.vs/CrazyRecycling/v15/Server/sqlite3/storage.ide-wal
CrazyRecycling/bin/Debug/CrazyRecycling.exe
CrazyRecycling/bin/Debug/CrazyRecycling.pdb
CrazyRecycling/CrazyRecycling.csproj
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.CoreCompileInputs.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.FileListAbsolute.txt
CrazyRecycling/obj/Debug/CrazyRecycling.csproj.GenerateResource.cache
CrazyRecycling/obj/Debug/CrazyRecycling.csprojAssemblyReference.cache
CrazyRecycling/obj/Debug/CrazyRecycling.exe
CrazyRecycling/obj/Debug/CrazyRecycling.pdb
CrazyRecycling/obj/Debug/CrazyRecycling.Properties.Resources.resources
CrazyRecycling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CrazyRecycling/packages.config
Server/bin/Debug/netcoreapp2.1/Server.deps.json
Server/bin/Debug/netcoreapp2.1/Server.dll
Server/bin/Debug/netcoreapp2.1/Server.pdb
Server/bin/Debug/netcoreapp2.1/Server.runtimeconfig.dev.json
Server/obj/Debug/netcoreapp2.1/Server.assets.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/netcoreapp2.1/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp2.1/Server.csproj.GenerateResource.cache
Server/obj/Debug/netcoreapp2.1/Server.csprojAssemblyReference.cache
Server/obj/Debug/netcoreapp2.1/Server.dll
Server/obj/Debug/netcoreapp2.1/Server.pdb
Server/obj/project.assets.json
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
